<img src="/img/Artisan.png">
<h1>Artisan</h1>
<p>You are both grounded and flexible. You adapt well to new situations.
You are playful and free spirited - but you are also dependable and never flaky.

You don't do well in conservative, stuffy situations.
It's probably very hard for you to keep a normal job or stay in school.

You are always up for fun and adventure. Most people are too boring for you.
You take risks and bend the rules. And if things don't work out, you chock it up to life experience.

In love, you tend to take things quickly - but you have a huge problem with commitment.

At work, you need to make your own rules. You're best suited to be an entrepreneur.

With others, you are animated and physical. You prefer doing something with friends to just hanging out.

As far as your looks go, you tend to be buff and in good shape. Your spend more time on your body than your clothes.

On weekends, you need to keep active. From cooking up a storm to running a 5K, you wear yourself out. </p>
