<h2>Currency Conversion</h2>
<form action="/currency" method="post">
  <label>USD: </label><input type="text" name="usd"><br>
  <label>POND: </label><input type="text" name="pond"><br>
  <label>CAD: </label><input type="text" name="cad"><br>
  <input type="submit" name="Transfer!">
</form>

<p>USD: <%= @usd %></p>
<p>POND: <%= @pond %></p>
<p>CAD: <%= @cad %></p>
