<img src="/img/Guardian.png">
<h1>Guardian</h1>
<p>You are sensible, down to earth, and goal oriented.
Bottom line, you are good at playing by the rules.

You tend to be dominant - and you are a natural leader.
You are interested in rules and order. Morals are important to you.

A hard worker, you give your all at whatever you do.
You're very serious, and people often tell you to lighten up.

In love, you tend to take things carefully and slowly.

At work, you are suited to almost any career - but you excel in leadership positions.

With others, you tend to be polite and formal.

As far as looks go, you are traditionally attractive. You take good care of yourself.

On weekends, you tend to like to do organized activities. In fact, you often organize them! </p>
