<img src="/img/idealist.png">
<h1>Idealist</h1>
<p>You are a passionate, caring, and unique person.
You are good at expressing yourself and sharing your ideals.

You are the most compassionate of all types and connect with others easily.
Your heart tends to rule you. You can't make decisions without considering feelings.

You seek out other empathetic people to befriend.
Truth and authenticity matters in your friendships.

In love, you give everything you have to relationships. You fall in love easily.

At work, you crave personal expression and meaning in your career.

With others, you communicate well. You can spend all night talking with someone.

As far as your looks go, you've likely taken the time to develop your own personal style.

On weekends, you like to be with others. Charity work is also a favorite pastime of yours. </p>
