<img src="/img/Rational.png">
<h1>Rational</h1>
<p>You are both logical and creative. You are full of ideas.
You are so rational that you analyze everything. This drives people a little crazy!

Intelligence is important to you. You always like to be around smart people.
In fact, you're often a little short with people who don't impress you mentally.

You seem distant to some - but it's usually because you're deep in thought.
Those who understand you best are fellow Rationals.

In love, you tend to approach things with logic. You seek a compatible mate - who is also very intelligent.

At work, you tend to gravitate toward idea building careers - like programming, medicine, or academia.

With others, you are very honest and direct. People often can't take your criticism well.

As far as your looks go, you're coasting on what you were born with. You think fashion is silly.

On weekends, you spend most of your time thinking, experimenting with new ideas, or learning new things. </p>
