<h1>Personality Survey</h1>
<form action="/survey" method="post">
  <h2>1. You work best:</h2><br>
  <input type="radio" name="q_1" value="With deadlines">With deadlines<br>
  <input type="radio" name="q_1" value="Without deadlines">Without deadlines<br>
  <h2>2. You consider yourself more:</h2><br>
  <input type="radio" name="q_2" value="Rational">Rational<br>
  <input type="radio" name="q_2" value="Compassionate">Compassionate<br>
  <h2>3. You are more interested in:</h2><br>
  <input type="radio" name="q_3" value="Ideas">Ideas<br>
  <input type="radio" name="q_3" value="Facts">Facts<br>
  <label>Email: </label><input type="email" name="email"><br>
  <label>Name: </label><input type="text" name="user_name"><br>
  <input type="submit" value="Submit"><br>

</form>
