<h1>Language</h1>
<form action="/language" method="post">
  <div>
    <input type="text" name="name" value="<%= @name %>">
  </div>
  <div>
    <select name="language">
      <option disabled selected value> -- select an option -- </option>
      <option value="english">English</option>
      <option value="french">French</option>
      <option value="spanish">Spanish</option>
    </select>
  </div>
  <input type="submit" value="Submit">
</form>
