<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bill Splitter</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    Hello <%= session[:name] %>
    <%= yield %>
  </body>
</html>
