body {
  background-color: #00aaff ;
  /*font-style: italic;*/
  font-size: 25px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.1);
}
a {
  text-decoration: line-through;
  color: orange;
  font-size: 0.5em;
}

a:hover {
  text-decoration: none;
  color: lightblue;
  font-size: 1.5em;
}
